@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Slab&family=Merriweather&family=Oswald&family=Roboto+Slab&display=swap');

$offwhite: #EEE8D6;
$darkblue: #022933;
$yellow: #FFBA00;
$blue: #0076A3;
$green: #548C27;
$orange: #F39856;
$red: #D14348;
$purple: #6D73C2;

$main-color: $darkblue;
$main-background: $offwhite;

$font-main: 'Merriweather', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;
$color-headlines: $red;