@font-face {
    font-family: 'nobile';
    src: url('/font/Nobile-Regular.ttf') format('ttf');
    font-weight: normal;
}
body{
    font-family: Arial;
    font-size: 1em;
    background-image: url(/image/abstractPic.jpg);
}
h1{
    font-family: 'nobile';
    font-size: 2em;
}
h3{
    font-size: 1.3em;
    border-bottom: 1px solid black;
}
.fonts{
    color: orange;
    font-family: 'Comic Sans MS';
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}
.colors{
    color: red;
    font-weight: bold;
}
.more{
    color: blue;
    text-decoration: underline;
    border: 1px dashed grey;
    background-color: #D69BBE;
}
.backgrounds{
    color: green;
    font-family: 'Trebuchet MS';
    font-size: 1.25em;
}
article ul{
    list-style: url('/image/peaceSignResized.png');
}
#outerwrapper{
    width: 650px;
    background-color: #E7DBF6;
    margin-left: auto;
    margin-right: auto;
}
nav{
    width: 175px;
    background-color: #E7DBF6;
    float: left;
}
article{
    margin-left: 175px;
    background-color: white;
    padding: 10px;
}
footer{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}