
/*Emmanuel Galvan 04.09.2021 */
@font-face {
    font-family: 'quicksand';
    src: url('/fonts/Quicksand-Regular.otf') format('opentype');
    font-weight: normal;
}
#outerwrapper {	
	border-radius: 15%;
	background: rgba(243,205,170, 0.4);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
html{
	background-image:url(../images/jewelry.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
footer{
	font-size: 1em;
	text-align: center;
	padding: 10px;
}
main{
	background-image: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}
img{
	float: left;
	border-radius: 6em;
}
.addrightmargin{
	margin-right: 10%;
}
nav ul{
	list-style-type: none;
	font-size: 1.5em;
	clear: both;
}
h1{
	font-family: 'Pacifico';
	font-size: 4em;
}
h2{
	font-family: 'quicksand';
	font-style: italic;
	font-size: 2em;
}

