/* Emmanuel Galvan 04.13.2021 (style.css) --> */

@font-face {
    font-family: Quicksand;
    src: url(/fonts/Quicksand-Regular.woff) format('woff');
}

html{
    background-color: rgb(189, 189, 189);
}
header img{
    position: relative;
    width: 100%;
}
header h1{
    color: white;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    position: absolute;
    top: 10px;
    margin-left: 100px;
}
nav ul li{
    position: relative;
    display: inline;
    padding: 1em;
    background-color: maroon;
}
nav{
    background-color: rgb(122, 122, 122);
    padding: 1em;
    text-align: left;
}
main section ul li{
    list-style: none;
    padding: 20px;
    background-color: maroon;
}
#logo{
    position:absolute;
    top: 15px;
    transition:.2s;
}
#logo:hover{
    transform: scale(1.4);
}
.boldedterms{
    font-size: 20px;
}
section.leftcolumn{
    font-family: 'Dela Gothic One', Arial, Helvetica, sans-serif;
    float: left;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    width: 40%;
}
section.rightcolumn{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
}
hr{
    width: 50%;
    border-top: solid;
}
span{
    color: maroon;
    font-style: italic;
}
fieldset{
    background-color: rgb(60, 60, 60);
    border-style: none;
}
fieldset.form{
    background-color: maroon;
}
footer{
    font-family: quicksand, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(122, 122, 122);
    padding: .5em;
    text-align: center;
    width: 100%;
	clear: left;
}
a:hover{
    transform: scale(2.2);
    color: gray;
}
a{
    color: white;
    text-decoration: none;
}
a:active{
    color: rgb(60, 60, 60);
}